.background {
	background-color:#180000; 
    background-image: url("../Halloween_bakgrund.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}
h1,h2,h3,h4,h5,h6,p,div{
	font-family: Candles, Times New Roman, Arial;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
}
ol{
	font-family: Candles, Times New Roman, Arial;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
}

nav a{
	display:block;
	font size:200%;
}

nav a{
	color:yellow;
	text-decoration:none;
}

nav a:hover{ /* How it looks when you hover with muose */
	color:red;
	text-decoration:underline;
}

.startram:hover{
	background-color:#00CC66;
	opacity:0.5;
	
}
.ram2:hover{
	background-color:#00CC66;
	opacity:0.5;
}
.ram3:hover{
	background-color:#00CC66;
	opacity:0.5;
}
.text1{
	float:left;
	width:70%;
	height:40%;	
	margin: 25px 0px 0px 20px;
	background-color:rgba(120,120,120,0.7);
	border-radius:20px;
	box-shadow:-15px -10px 10px rgba(0,0,0,0.7)
}
.text2{
	float:left;
	width:30%;
	height:50%;	
	margin: 25px 0px 0px 20px;
	background-color:rgba(120,120,120,0.7);
	border-radius:20px;	
	box-shadow:-15px -10px 10px rgba(0,0,0,0.7);
	border:10px #888888 solid;
}
.text3{
	float:left;
	width:50%;
	height:40%;	
	margin: 3% 0px 0px 10%;
	background-color:rgba(120,3,3,0.9);
	border-radius:20px;
	box-shadow:-15px -10px 10px rgba(0,0,0,0.7);
	border:10px #580000 solid;
	}
.text3:hover{
	background-color: rgba(120,3,60,0.9)
	}
.bildlista{
	float:left;
	width:37.5%;
	height:relative;	
	margin: 25px 0px 0px 20px;
	background-color:rgba(120,120,120,0.7);
	border-radius:20px;
	box-shadow:-15px -10px 10px rgba(0,0,0,0.7);
}
.container{
	float:left;
	width:150px;
	margin: 25px 0px 0px 20px; /* top right bottom left */
	border: 10px #888888 solid; /* border-width border-color border-style*/
	background:rgba(120,120,120,0.7);
	border-radius:5px;
	box-shadow: -20px -10px 10px rgba(0,0,0,0.7);
}
.startram{
	width:100px;
	height:70px;
	background-color:rgba(8,8,8,0.8);
	border:5px #080808 solid;
	position:relative;
	border-radius:5px;
	
}
.ram2{
	width:100px;
	height:70px;
	background-color:rgba(8,8,8,0.8);
	border:5px #080808 solid;
	position:relative;
	margin: 0px 0px 0px 40px;
	border-radius:5px;
}
.ram3{
	width:100px;
	height:70px;
	background-color:rgba(8,8,8,0.8);
	border:5px #080808 solid;
	margin: 0px 45px 0px 0px;
	border-radius:5px;
}
.Laugh{
	padding: 0px 0px 0px 30%;
}
	
#laugh {
	border:10px #888888 solid;
	border-radius:20px;
	box-shadow: -10px -10px 10px rgba(0,0,0,0.7);
}

.sidledeslista li{
	float:left;
	list-style-type: none;
}

.Skeletons{
	height: relative;
	width: relative;
	padding:0px 0px 0px 0%;
}
#Skeletons{
	height:350px;
	width: 400px;
	border:10px #888888 solid;
	border-radius:20px;
	box-shadow: -10px -10px 10px rgba(0,0,0,0.7);
}
